{{!-- send information to the api/signup route --}}
<h2>Create User</h2>

<form class="login-form">
    {{!-- <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="emailField">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="passwordField">
    </div> --}}

    <button id="signUpSubmit" type="submit">Submit</button>
</form>
