{{!-- This body will dynamically popluate a ul based on how many people the person is caring for --}}
{{!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        <img src="../assets/pill.png" width="30" height="30" class="d-inline-block align-top" alt="red and blue pill">
        Pill Box
    </a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
</nav> --}}

<div class="container">
    <div class="jumbotron">
        <h2>Dashboard</h2>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome: </h5>
                    <p data-id="" class="member-name"></p>

                    <p class="text-muted">Last Login Date: <span data-id="" id="lastLogin"></span></p>
                    <a href="/logout" class="card-link">Logout</a>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Today's Date:
                                </n>
                                <span id="currentDay"></span>
                            </h5>
                            <p class="text-muted"><span id="patientCount"></span># Patients to see Today</p>

                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <p>Notifications:</p> &nbsp;
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off" checked> ON
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> OFF
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Patient List</h5>
                    <input type="text" id="patientName" placeholder="Patient Name">
                    <a href="#" class="card-link" id="addPatient">Add Patient</a>
                </div>
                <ul class="list-group list-group-flush patientList">
                    {{!-- for each item in patient. Added an s--}}
                    {{#each patients}}
                    {{!-- display their information. Added folder for HB --}}
                    {{!-- {{name}} --}}
                    {{> patients/patientBlock}}
                    {{/each}}
                </ul>
                <div class="card-body">
                    <a href="#top" class="card-link">Back to Top</a>
                </div>
            </div>

        </div>
    </div>
</div>