<div class="container">
    <div class="jumbotron">
        <h2 id="welcome">Welcome to Pill Box!</h2>
        <h2>Login</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="login-form">
                        <div>
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="emailField">
                            <br>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="passwordField">
                        </div>

                        <button id="loginSubmit" type="submit">Login</button>
                    </form>

                </div>
            </div>

        </div>
        <div>
            <br>
            <p>New to Pill Box? <span id="signUp"> <a href="/createuser">Sign Up!</a></span></p>
        </div>
    </div>

</div>