<div class="container">
    <div class="jumbotron">
        <h2>Patient Record</h2>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title" id="patient-name"> </h5>
                    <p data-id="" class="patient-name"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="card-link" id="addMedication">Add Medication</a>
                    <h5 class="card-title">Medication List</h5>

                </div>
                <ul class="list-group list-group-flush medsList">
                    {{!-- for each item in patient --}}
                    {{#each meds}}
                    {{!-- display their information --}}
                    {{> patients/medsBlock}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <a href="/dashboard" class="card-link">Back to Dashboard</a>
        <a href="/logout" class="card-link">Logout</a>
    </div>
</div>