<div class="container">
    <div class="jumbotron">
        <h2>Patient Record</h2>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="patientName"> </h5>
                    <p data-id="" class="patientName"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="card-link" id="addMedication">Add Medication</a>
                    <h5 class="card-title">Medication List</h5>

                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Dosage</th>
                            <th scope="col">Times Per Day</th>
                            <th scope="col">With Food</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{!-- for each item in patient --}}
                        {{#each meds}}
                        {{!-- display their information --}}
                        {{> patients/medsBlock}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-body">
        <a href="/dashboard" class="card-link">Back to Dashboard</a>
        <a href="/logout" class="card-link">Logout</a>
    </div>
</div>