#signUp {
    text-decoration: underline;
}

.patientList, .medsList {
    padding-left: 25px;
}

.titleContainer {
    text-align: center;
}

.mainTitle {
    text-align: center;
}

.jumbotron {
    padding-top: 10px;
    margin-top: 20px;
}

.jumbotron h2 {
    text-align: center;
}

#welcome {
    text-decoration: underline;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

#titleText {
    font-size: 32px;
    font-family: 'Lobster', cursive;
}

label, p {
    font-family: 'Raleway', sans-serif;
}

.card {
    border: 1px solid black;
}

.login-form {
    padding-left: 30px;
}