#signUp {
    text-decoration: underline;
}

.patientList {
    padding-left: 25px;
}

.titleContainer {
    text-align: center;
}

.mainTitle {
    text-align: center;
}

.jumbotron {
    padding-top: 10px;
}

.jumbotron h2 {
    text-align: center;
}

#welcome {
    text-decoration: underline;
}

label, p {
    font-family: 'Raleway', sans-serif;
}

.login-form {
    text-align: center;
}